{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="row text-center vertical-middle-sm">
    <p>尊敬的{{ user.username }}，您已登录，是否要<a href="{% url 'account:user_logout' %}">退出</a>？</p>
</div>
{% else %}
<div class="row text-center vertical-middle-sm">
    <h1>登录</h1>
    <p>请输入您的用户名和密码</p>
    <form class="form-horizontal" action="{% url 'account:user_login' %}" method="post">{% csrf_token%}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label" style="color:red"><span class="glyphicon glyphicon-user"></span>用户名</label>
            <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label" style="color:blue"><span class="glyphicon glyphicon-floppy-open"></span>密　码</label>
            <div class="col-md-6 text-left">{{ form.password }}</div>
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="登录">
    
    </form>
</div>
{% endif %}
{% endblock %}