{% extends "base.html" %}
{% block title %}密码重置{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>忘记密码？请重置。</h1>
    <p>输入你的电子邮箱，重新设置密码</p>
    <form class="form-horizontal" action="{% url 'account:password_reset' %}" method="post">{% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">电子邮箱</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <input type="submit" value="发送电子邮件" class="btn btn-primary btn-lg">
    </form>
</div>
{% endblock %}